.heroContainer {
    position: relative;
}

.heroBg {
    position: relative;
    background-image: url(../../../assets/movieImages/HeroBgImage.jpg);
    background-size: cover;
    height: 510px;
}

.heroBgOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.906);
    z-index: 1;
}

.heroContent {
    position: relative;
    z-index: 2;
}

.heroLeftText {
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.heroSlider {
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.heroPoster {
    width: 100%;
    height: 450px;
    border-radius: 15px;
    margin-bottom: -10px;
}

.watchNowBtn {
    background-color: #1E4CD2;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    margin-top: -20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.customCtlPrev {
    background-color: white !important;
    height: 45px;
    border-radius: 8px;
    top: 40% !important;
    margin: 0 0 0 -20px;

}

.customCtlNext {
    background-color: white !important;
    height: 45px;
    border-radius: 8px;
    top: 40% !important;
    margin: 0 -20px 0 0;
}

.heroLeftHeading1 {
    font-weight: 900;
    font-size: 65px;
    letter-spacing: 4px;
    color: #0299FA;
    z-index: 999;
}

.heroLeftHeading3TextWhite {
    font-weight: 600;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

.heroLeftHeading3TextYellow {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    color: #F5C618;
}


@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {


    .heroBg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 360px;
    }

    .heroSlider {
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .heroLeftText {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .heroLeftHeading1 {
        font-weight: 800;
        font-size: 55px;
        letter-spacing: 2px;
        color: #0299FA;
        z-index: 999;
    }

    .heroLeftHeading3TextWhite {
        font-weight: 600;
        color: white;
        font-size: 30px;
        letter-spacing: 2px;
    }

    .heroLeftHeading3TextYellow {
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 2px;
        color: #F5C618;
    }

    .heroPoster {
        width: 100%;
        height: 250px;
        border-radius: 15px;
        margin-bottom: -10px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .heroSlider {
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .heroLeftText {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .heroLeftHeading1 {
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 2px;
        color: #0299FA;
        z-index: 999;
    }

    .heroLeftHeading3TextWhite {
        font-weight: 600;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .heroLeftHeading3TextYellow {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
        color: #F5C618;
    }

    .heroPoster {
        width: 100%;
        height: 290px;
        border-radius: 15px;
        margin-bottom: -10px;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {

    .heroSlider {
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .heroLeftText {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .heroLeftHeading1 {
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 2px;
        color: #0299FA;
        z-index: 999;
    }

    .heroLeftHeading3TextWhite {
        font-weight: 600;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .heroLeftHeading3TextYellow {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
        color: #F5C618;
    }

    .heroPoster {
        width: 100%;
        height: 250px;
        border-radius: 15px;
        margin-bottom: -10px;
    }

}