.ratedMoviesSection {
    height: 510px;
    background-color: #060F16;
    padding: 50px 0;
}

.ratedCarousolItem {
    height: 370px;
    border-radius: 6px;
    background-color: rgb(242, 231, 231) !important;
}

.ratedCarImg {
    height: 61.1%;
    border-radius: 3px 3px 0 0;
}

.ratedCarousolItem:hover {
    border-radius: 6px;
    border: 3px solid rgb(37, 37, 244) !important;
}

@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 425px) and (max-width: 767.98px) {}

@media (min-width: 320px) and (max-width: 424.98px) {}