.navLogo {
    width: 45px;
    margin: -8px 0 -8px 0;
    /* background-color: ; */
    border-radius: 25px;
}








/* navSearch */
.searchForm {

    position: relative;
}

.searchForm .searchIcon {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #9ca3af;
}

.searchForm span {

    position: absolute;
    /* right: 17px; */
    /* top: 13px; */
    /* padding: 2px; */
    border-left: 1px solid #d1d5db;

}

.left-pan {
    padding-left: 7px;
}

.left-pan i {

    padding-left: 10px;
}

.SearchInput {
    width: 35vw !important;
    /* height: 55px; */
    text-indent: 33px;
    border-radius: 10px;
}

.SearchInput:focus {
    box-shadow: none;
    border: none;
}


/* toggle button */
.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.custom-switch::before {
    content: "EN";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-switch::after {
    content: "BN";
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-switch.en::before {
    color: #fff;
}

.custom-switch.bn::after {
    color: #fff;
}

.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Add any additional styling for the switch appearance here */





@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .customNavItem {
        text-align: right;
        background-color: #afc7f3;
        margin: 1px 0;
        padding: 0 9px;
        border-radius: 10px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {

    .customNavItem {
        text-align: right;
        background-color: #afc7f3;
        margin: 1px 0;
        padding: 0 9px;
        border-radius: 10px;
    }

}

@media (min-width: 320px) and (max-width: 424.98px) {


    .customNavItem {
        text-align: right;
        background-color: #afc7f3;
        margin: 1px 0;
        padding: 0 9px;
        border-radius: 10px;
    }
}