.footerArea {
    background-color: #050505;
}

.footerLogo {
    width: 80px;
    height: 86px;
}

.footerHeading {
    font-size: 15px;
    letter-spacing: 2px;
}

.footerIconColor {
    color: #0299FA;
}