.itMovieContainer {
    position: relative;
}

.itMoviesBg {
    position: relative;
    background-image: url(../../../assets/movieImages/itmoviewBgImage.jpg);
    background-size: cover;
    height: 510px;
}

.heroBgOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.906);
    z-index: 1;
}

.heroContent {
    position: relative;
    z-index: 2;
}

.heroLeftText {
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.itMoviesRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.itMovieTrailer {
    width: 450px;
    height: 300px;
}

.itMovieTrailerImg {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid rgb(227, 214, 191);
    border-radius: 15px;
}

.trailerTextArea {
    position: absolute;
    top: 45%;
    /* bottom: 50%; */
    width: 100%;
}

.trailerTextBtn {
    width: 94%;
    margin-right: 14px;
    background: #0000008e;
    color: orange;
    border: none;
    /* border-radius: 10px; */
    padding: 15px 0;
}



.watchNowBtn {
    background-color: #1E4CD2;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    margin-top: 0px;
    font-size: 18px;
    letter-spacing: 1px;
}

.customCtlPrev {
    background-color: white !important;
    height: 45px;
    border-radius: 8px;
    top: 40% !important;
    margin: 0 0 0 -20px;

}

.customCtlNext {
    background-color: white !important;
    height: 45px;
    border-radius: 8px;
    top: 40% !important;
    margin: 0 -20px 0 0;
}

.heroLeftHeading1 {
    font-weight: 900;
    font-size: 65px;
    letter-spacing: 4px;
    color: #0299FA;
    z-index: 99;
}

.heroLeftHeading3TextWhite {
    font-weight: 600;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

.heroLeftHeading3TextYellow {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    color: #F5C618;
}

.hrLine {
    width: 100%;
    height: 20px !important;
    color: white;
}



@media (min-width: 1440px) and (max-width: 2559.98px) {
    .trailerTextBtn {
        width: 81%;
        margin-right: 91px;
        background: #0000008e;
        color: orange;
        border: none;
        /* border-radius: 10px; */
        padding: 15px 0;
    }
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
    .itMovieTrailer {
        width: 360px;
        height: 270px;
    }

    .trailerTextBtn {
        width: 91% !important;
        margin-left: -14px !important;
        background: #0000008e;
        color: orange;
        border: none;
    }
}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .itMoviesBg {
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroLeftText {
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itMovieTrailer {
        width: 240px;
        height: 220px;
    }

    .trailerTextBtn {
        width: 67% !important;
        margin-left: -95px !important;
        background: #0000008e;
        color: orange;
        border: none;
    }

}

@media (min-width: 425px) and (max-width: 767.98px) {
    .itMoviesBg {
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroLeftText {
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itMovieTrailer {
        width: 240px;
        height: 220px;
    }

    .trailerTextBtn {
        width: 57% !important;
        margin-left: -144px !important;
        background: #0000008e;
        color: orange;
        border: none;
    }
}

@media (min-width: 375px) and (max-width: 424.98px) {
    .itMoviesBg {
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroLeftText {
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itMovieTrailer {
        width: 240px;
        height: 220px;
    }

    .trailerTextBtn {
        width: 67% !important;
        margin-left: -92px !important;
        background: #0000008e;
        color: orange;
        border: none;
    }


}

@media (min-width: 320px) and (max-width: 374px) {
    .itMoviesBg {
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroLeftText {
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itMovieTrailer {
        width: 240px;
        height: 220px;
    }

    .trailerTextBtn {
        width: 78% !important;
        margin-left: -40px !important;
        background: #0000008e;
        color: orange;
        border: none;
    }


}